<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/fe_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <title>Cancel</title>
  <script>
    function cancelSeats() {
      if (!confirm("Are you sure you want to cancel?")) return;
      //Delete selected-seats
      fetch('http://localhost:3000/delete-select-seat', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(function (response) {
          // Handle the server response if needed
        })
        .catch(function (error) {
          // Handle any errors that occurred during the request
        });
      window.location.href = '/';
    }
  </script>
</head>

<body class="mx-20 bg-black text-cfab7a font-raleway">
  <div class="container mx-auto space-y-4">
    <h1 class="py-5 mx-5 mt-10 text-4xl font-extrabold">Cancel Ticket</h1>
    <p class="py-5 mx-5 text-xl">Your presence is truly missed! We'd love to welcome you back for another unforgettable movie night.</p>
    <div class="py-5 text-center">
      <button id="cancelButton" onclick="cancelSeats()"
        class="px-4 py-2 rounded custom-btn border-cfab7a text-cfab7a">Cancel</button>
    </div>
  </div>
</body>

</html>