<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/fe_style.css">
    <script src="/script/script.js" defer></script>
</head>

<body class="bg-black font-raleway">
    <div style="position: absolute;width: 153px;height: 48px;left: 1455px;top: 22px; color: #CFAB7A;">
        <a href="#" class="text-4xl font-semibold">TixOnline</a>
    </div>


    <div class="flex bg-black">
        <div style="position: absolute; width: 50%;">
            <img src="/images/cinemabg.png">
        </div>
        <section id="loginModal" class="w-1/2 bg-black"
            style="position: absolute; width: 614px; height: 300px; left: 1000px; top: calc(50% - 542px/2 + 61px); background: #CFAB7A; border-radius: 19.3226px;">
            <div class="p-4 rounded-lg shadow-lg custom-btn">
                <h2 class="mb-4 text-4xl font-semibold">Login</h2>
                <form action="/login" method="POST">
                    <div class="mb-4">
                        <label for="username" class="block mb-2 font-semibold text-black">Username</label>
                        <input type="text" id="username" name="username"
                            class="w-full px-4 py-2 text-white border border-gray-300 rounded" style="background-color:#69563d" required>
                    </div>
                    <div class="mb-6">
                        <label for="password" class="block mb-2 font-semibold text-black">Password</label>
                        <input type="password" id="password" name="password"
                            class="w-full px-4 py-2 border border-gray-300 rounded" style="background-color:#69563d" required>
                    </div>
                    <div class="text-right">
                        <button type="submit"
                            class="px-4 py-2 font-semibold bg-black rounded text-cfab7a hover:bg-red-700">Login</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>