<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Movie List</title>
</head>
<body>
  <h1>Movie List</h1>
  <ul>
    <% movies.forEach(function(movie) { %>
      <li>
          <a href="/movies/<%= movie.movie_id %>"><%= movie.title  %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
