<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Theaters List</title>
</head>
<body>
  <h1>Theaters List</h1>
  <ul>
    <% theaters.forEach(function(theater) { %>
      <li>
            <a href="/theaters/<%= theater.studio_id %>"><%= theater.name %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
