body{
    font-family: 'raleway', sans-serif;
}

.kodfun-galeri {
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.kodfun-galeri>div {
    flex: 1;
    border-radius: 1rem;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
    overflow: hidden;
}

.kodfun-galeri>div:hover {
    flex: 5;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.kodfun-galeri>div:hover .overlay {
    opacity: 1;
}

.overlay h4,
.overlay p {
    cursor: pointer;
    margin: 0;
}

.overlay h4 {
    font-size: 1.5rem;
}

.overlay p {
    font-size: 1rem;
}

.text-cfab7a {
    color: #cfab7a;
}

.close-icon {
    fill: white;
}

.custom-btn {
    background-color: #cfab7a;
    color: black;
}

.w-full {
    width: 100%;
}

.h-auto {
    height: auto;
}

.object-cover {
    object-fit: cover;
}

#movieDetailsPopup {
    backdrop-filter: blur(5px);
    transition: opacity 1s ease-in-out;
}

#movieDetailsPopup.show {
    opacity: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    z-index: 9999;
}
